h2
	font: 30px/40px RobotoRegular
	margin-bottom: 10px
	color: $black
	
	+respond-to($mobile)
		font-size: 25px
		line-height: 30px
		text-align: center
	
h3
	font: 20px/1 OpenSansSemibold
	padding-bottom: 12px
	margin-bottom: 16px
	color: $black
	border-bottom: 1px solid $blue
