html
	&.__no-scroll
		overflow: hidden
	
body
	min-height: 5000px
	position: relative
	margin-right: 0
	
img
	max-width: 100%
	
.clear
	&:before, &:after
		content: ''
		display: table
		clear: both
		

body, p
	font: 14px/18px OpenSansRegular
	color: $gray
	
p
	margin-bottom: 9px
	
.container
	
.wrapper
	+width
	
.content
	padding: 20px 0 64px

.content_main
	flex-grow: 1
	padding-top: 20px
	flex-basis: 1%
	
	ul
		+list()
		
	strong
		font-family: 'OpenSansSemibold'

.content_wrapper
	display: flex
	