/**
 * Миксины
 */

@mixin width() {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $paddingBetweenWindow;
	padding-right: $paddingBetweenWindow;
	
	@include respond-to($mobile) {
		padding-left: $paddingBetweenWindow / 2;
		padding-right: $paddingBetweenWindow / 2;
	};
}

// placeholder
@mixin placeholder {
	&::-webkit-input-placeholder {
		@content
	}
	&:-moz-placeholder {
		@content
	}
	&::-moz-placeholder {
		@content
	}
	&:-ms-input-placeholder {
		@content
	}
}

// responsive
@mixin respond-to($media) {
	@media only screen and (max-width: $media) {
		@content;
	}
}

// ul list
@mixin list() {
	
	li {
		font: 14px/18px OpenSansRegular;
		margin-bottom: 15px;
		padding-left: 16px;
		position: relative;
		color: $black;
		
		&:before {
			width: 5px;
			height: 5px;
			background: $blue;
			content: '';
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	
	a {
		text-decoration: none;
		color: #47619c;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

/** type */
@mixin typeArticleWrapper() {
	position: absolute;
	top: -1px;
	right: -1px;
	overflow: hidden;
	width: 85px;
	height: 80px;
}
@mixin typeArticle() {
	width: 150px;
	height: 30px;
	text-align: center;
	color: $white;
	background: $red;
	font: 13.6px/30px 'RobotoRegular';
	position: absolute;
	top: -5px;
	right: -35px;
	transform: rotate(45deg) translateX(22px);
}