/**
 * Глобальные настройки сайта
 */


// Максимальная ширина сайта
$max-width: 1170px;

// Расстояние сайта до экрана браузера
$paddingBetweenWindow: 10px;

// Цвета
$black: #000000;
$white: #ffffff;