.article-before
	padding: 19px
	background: #f2f6f8
	margin-bottom: 20px
	overflow: hidden
	
	&.__no-padding
		padding: 0
		
	&.__no-background
		background: none
		
	&.__margin-big
		margin-bottom: 40px

.article-before img
	float: left
	margin: 0 15px 20px 0