.bookmaker-review_item
	margin-bottom: 20px
	border: 1px solid #d9d9d9
	display: flex
.bookmaker-review_image
	width: 25.6%
	vertical-align: top	
.bookmaker-review_image img
	height: 200px	
.bookmaker-review_description
	width: 51.25%
	font-family: 'RobotoRegular', sans-serif
	padding-top: 20px 
.bookmaker-review_rating
	width: 22.77%
.bookmaker-review_header-link
	color: #333333
	font-size: 20px
	margin-left: 15px
	text-decoration: none
.bookmaker-review_description p
	font-size: 14px
	line-height: 18px
	color: #595959
	font-family: 'OpenSansRegular', sans-serif
	margin-left: 15px
	margin-top: 12px
.bookmaker-review_further a
	float: left
	color: #227496
	font-size: 14px
	font-family: 'OpenSansRegular', sans-serif
	margin-left: 15px
.bookmaker-review_further .article-info 
	float: right
.bookmaker-review_rating
	text-align: center
.bookmaker-review_rating .stars
	padding-left: 54px
	margin-bottom: 20px
.bookmaker-review_name-rating
	font-size: 14px
	font-family: 'OpenSansRegular', sans-serif
	margin: 20px 0
.book-review_price
	display: block
	font-size: 24px
	font-family: 'OpenSansRegular', sans-serif
	margin-bottom: 20px
	margin-top: 5px	
.bookmaker-review_button .button
	width: 135px
	font-size: 13px
	margin: 0 auto
.bookmaker-review_vertical-line
	 width: 1px
	 height: 150px
	 margin-top: 25px
	 background-color: #d9d9d9
	 margin-left: 20px


